
.draw--wrapper{
    height: 50vh;
    overflow: hidden;
    background: #1e7e34;
}

.messages--wrapper{
    height: 40vh;
    background: #007bff;
    overflow: auto;
}
.input--wrapper{
    background: #721c24;
    height: 10vh;
}

div[class*="wrapper"]{
    width: 100vw;
}
#messages {
    font-size: 28px;
    padding: 0;

}


#messages li {
    list-style-type: none;
    padding: 20px;
    background: #1e7e34;
}

#inputBox{
    height: 10vh;
}

#drawing{
    overflow: hidden;
    background: #495057;
}
.drawing__controls{
    background: white;
    position: absolute;
    top: 25px;
    left: 25px;
}
.background__userPop--wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: white;
}
.background__userPop{
    position: absolute;
    min-width: 70vw;

    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);

}